/* Add here all your CSS customizations */
.centerthumbs {
    /*display: table-cell;*/
    text-align: center;
    vertical-align: middle;
    height: 260px;
}

.centerthumbs * {
    vertical-align: middle;
}


/*.centerthumbs {
    display: block;
}
/*.centerthumbs span {
    display: inline-block;
    height: 100%;
    width: 1px;
}
/**/

